h2{
    color:black;
 
}
p{
    color:black
}

.header{
    display: flex;
    justify-content: space-between;
  color:black;
}
.body{
    display: flex;
    justify-content: center;
}
body{
    background-color: whitesmoke;
}
.grid{
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
   flex-direction: row;
}
.camel{
    border-radius: 50px;
    background-color: white;

   width: 300px;
   
}
.chameleon{
    border-radius: 40px;
    background-color: white;

   width: 300px;
}
.pigeon{
    border-radius: 40px;
    background-color: white;

   width: 300px;
}
.cicada{
    border-radius: 40px;
    background-color: white;

   width: 300px;
}
.panda{
    border-radius: 40px;
    background-color: white;

   width: 300px;
}